.accordion1 {
  background-color: rgb(255, 255, 255);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-top: 1px solid rgb(240, 240, 240);
  outline: none;
  transition: 0.4s;
  font-size:15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active1, .accordion:hover {
  background-color:  rgb(240, 240, 240) !important;
  color: #444 !important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 15px 18px 0px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size:15px;
  color: #444;
}