<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width ,initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A one stop for all your academic queries">
  <meta name="keywords" content="colleges, coaching, admissions">
  <title>Value Plus</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/value-plus.css" rel="stylesheet">
  <link href="css/sidebar.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="./images/fav.png"/>
  <link rel="shortcut icon" type="image/png" href="http://eg.com/fav.png"/>

</head>

<body>


  <!--SIDEBAR -->



  <!--SIDEBAR -->


  <div id="mySidenav" class="sidenav">

    <div class="row">

    </div>
    <a href="javascript:void(0)" style=" border:none; " class="closebtn"><img style="padding-top:17px" src="./images/barrow.png"></span></a> <a href="index.html" value="productsMenu" style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">VALUE PLUS

  <a href="javascript:void(0)" value="productsMenu" id="product" >Products </a>
    <a href="javascript:void(0)" value="consultationMenu" id="consultation">Consulting</a>
    <a href="javascript:void(0)" value="productmarketmenu" id="productmarket">Training</a>
    <a href="javascript:void(0)" value="platformMenu" id="platform">Platforms</a>
    <a href="about.html" id="about" class="heading3">About Us</a>
  </div>


  <!--products menu N0 2-->
  <div id="productsMenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">PRODUCTS<span> <a href="javascript:void(0)"  value="productsMenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>

    <a href="javascript:void(0)" class="submenuItem" value="incorporatemenu" id="incorporate">Incorporate +</a>
    <a href="javascript:void(0)" class="submenuItem" value="complymenu" id="comply">Comply +</a>
    <a href="javascript:void(0)" class="submenuItem" value="taxmenu" id="tax">Tax +</a>
    <a href="javascript:void(0)" class="submenuItem" value="protectmenu" id="protect">Protect +</a>

  </div>





  <!--Consultation menu NO 3-->
  <div id="consultationMenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem" style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">CONSULTING<span> <a href="javascript:void(0)" value="consultationMenu" style="border:none;"class="closebtn" ><img style="padding-top:17px ; padding-left:20px;" src="./images/barrow.png"></a></span>
    </a>
    <a href="javascript:void(0)" class="submenuItem" value="corporatemenu" id="corporate">Corporate Consulting</a>
    <a href="javascript:void(0)" class="submenuItem" value="startupmenu" id="startup">Startup Consulting</a>
    <a href="javascript:void(0)" class="submenuItem" value="socialmenu" id="social">Social Consulting </a>
  </div>




  <!--Training menu NO 4
<div id="trainingMenu" class="sidenav">
  <div class="row">

  </div>

  <a class="submenuItem"   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Training<span><a href="javascript:void(0)"  value="trainingMenu" style="border:none;"class="closebtn" >&#8592;</a></span></a>
  <a  href="javascript:void(0)" class="submenuItem" value="productmarketmenu" id="productmarket" >Product Market Fit</a>
  <a  href="javascript:void(0)" class="submenuItem" value="businessmodellingmenu" id="businessmodelling" >Business Modelling </a>
  <a  href="javascript:void(0)" class="submenuItem" value="growthmenu" id="growth" >Growth </a>
  <a  href="javascript:void(0)" class="submenuItem" value="impactdesignmenu" id="impactdesign">Impact Design</a>


</div>-->

  <div id="productmarketmenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">TRAININGS<span> <a href="javascript:void(0)"  value="productmarketmenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="productmarket.html">Our Services</a>
    <a class="submenuItem" href="sendproductmarket.html">Send a query</a>
    <a class="submenuItem" href="requestproductmarket.html">Request a Quote</a>
    <a class="submenuItem" href="contact.html">Contact us</a>

  </div>

  <!--Innovation menu NO-5-->
  <div id="platformMenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem" style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">PLATFORMS<span> <a href="javascript:void(0)" value="platformMenu" style="border:none;"class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="platform.html">Our Services</a>

    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

  </div>
  <!--PRODUCTS-->
  <!--HEALTH PLUS MENU NO-6-->
  <div id="taxmenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">TAX +<span> <a href="javascript:void(0)"  value="taxmenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="health.html" class="heading3">About</a>
    <a class="submenuItem" href="pricinghealth.html" class="heading3">Pricing</a>

    <a class="submenuItem" href="sendtax.html" class="heading">Send a Query</a>
    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

  </div>


  <!--SANITATION PLUS MENU NO-7-->
  <div id="protectmenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">PROTECT +<span> <a href="javascript:void(0)"  value="protectmenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="sanitation.html" class="heading3">About</a>
    <a class="submenuItem" href="pricingsanitation.html" class="heading3">Pricing</a>

    <a class="submenuItem" href="sendprotect.html" class="heading3">Send a Query</a>
    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

  </div>

  <!--CONSULTING PLUS MENU NO-8-
<div id="consultmenu" class="sidenav">
      <div class="row">

      </div>

      <a class="submenuItem  " style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Consulting +<span> <a href="javascript:void(0)"  value="consultmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
      <a class="submenuItem" href="consulting.html"class="heading3">About</a>
      <a class="submenuItem" href="pricingconsulting.html"class="heading3">Pricing</a>
      <a class="submenuItem" href="requestconsulting.html"class="heading3">Request a Demo</a>
      <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>

</div>
-CONSULTING PLUS MENU NO-8-->

  <!--INCOROPRATE MENU NO-8-->
  <div id="incorporatemenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">INCORPORATE +<span> <a href="javascript:void(0)"  value="incorporatemenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="incorporate.html" class="heading3">About</a>
    <a class="submenuItem" href="pricingincorporate.html" class="heading3">Pricing</a>

    <a class="submenuItem" href="sendincorporate.html" class="heading3">Send a Query</a>
    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

  </div>

  <!--COMPLY MENU NO-8-->
  <div id="complymenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">COMPLY +<span> <a href="javascript:void(0)"  value="complymenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="comply.html" class="heading3">About</a>
    <a class="submenuItem" href="pricingcomply.html" class="heading3">Pricing</a>

    <a class="submenuItem" href="sendcomply.html" class="heading3">Send a Query</a>
    <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

  </div>
  <!--PITCH MENU NO-8-->


  <!--CONSULTING  menu -->
  <!--CORPORATE CONSULTING menu no 9-->
  <div id="corporatemenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">CORPORATE </br> CONSULTING<span> <a href="javascript:void(0)"  value="corporatemenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="corporate.html">Our Services</a>
    <a class="submenuItem" href="sendcorporate.html">Send a query</a>
    <a class="submenuItem" href="requestcorporate.html">Request a Quote</a>
    <a class="submenuItem" href="contact.html">Contact us</a>


  </div>

  <!--Startup CONSULTING menu no 10-->
  <div id="startupmenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">STARTUP </br>CONSULTING<span> <a href="javascript:void(0)"  value="startupmenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="startup.html">Our Services</a>
    <a class="submenuItem" href="sendstartup.html">Send a query</a>
    <a class="submenuItem" href="requeststartup.html">Request a Quote</a>
    <a class="submenuItem" href="contact.html">Contact us</a>

  </div>
  <!--Social CONSULTING menu no 11-->
  <div id="socialmenu" class="sidenav">
    <div class="row">

    </div>

    <a class="submenuItem  " style=" font-size:20px; color:#190f33; font-weight:600; font-family:'Montserrat', sans-serif">SOCIAL</br> CONSULTING<span> <a href="javascript:void(0)"  value="socialmenu" style="border:none;" class="closebtn" ><img style="padding-top:17px" src="./images/barrow.png"></a></span>
    </a>
    <a class="submenuItem" href="social.html">Our Services</a>
    <a class="submenuItem" href="sendsocial.html">Send a query</a>
    <a class="submenuItem" href="requestsocial.html">Request a Quote</a>
    <a class="submenuItem" href="contact.html">Contact us</a>

  </div>




  <!--TRAINING MENU menu no 12


<!--PRODUCT MARKET FIT MENU
<div id="productmarketmenu" class="sidenav">
  <div class="row">

  </div>

  <a class="submenuItem  "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Product Market Fit<span> <a href="javascript:void(0)"  value="productmarketmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
  <a class="submenuItem" href="productmarket.html">Our Services</a>
  <a class="submenuItem" href="sendproductmarket.html" >Send a query</a>
  <a class="submenuItem" href="requestproductmarket.html">Request a Quote</a>
  <a class="submenuItem" href="contact.html" >Contact us</a>

</div>

<!--BUSINESS MODELLING MENU 13
<div id="businessmodellingmenu" class="sidenav">
  <div class="row">

  </div>

  <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Business Modelling<span> <a href="javascript:void(0)"  value="businessmodellingmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
  <a class="submenuItem" href="businessmodelling.html" class="heading3">Our Services</a>
  <a class="submenuItem" href="sendbusinessmodelling.html" class="heading3">Send a query</a>
  <a class="submenuItem" href="requestbusinessmodelling.html"class="heading3">Request a Quote</a>
  <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

</div>

<!--GROWTH MENU 14
<div id="growthmenu" class="sidenav">
  <div class="row">

  </div>

  <a class="submenuItem  "   style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Growth<span> <a href="javascript:void(0)"  value="growthmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
  <a class="submenuItem" href="growth.html" class="heading3">Our Services</a>
  <a class="submenuItem" href="sendgrowth.html" class="heading3">Send a query</a>
  <a class="submenuItem" href="requestgrowth.html"class="heading3">Request a Quote</a>
  <a class="submenuItem" href="contact.html"class="heading3">Contact us</a>

</div>

<!--IMPACT DESIGN MENU  15
<div id="impactdesignmenu" class="sidenav">
  <div class="row">

  </div>

  <a class="submenuItem  "  style=" font-size:23px; color:#190f33; font-weight:500; font-family:'Lato', sans-serif">Impact Design<span> <a href="javascript:void(0)"  value="impactdesignmenu" style="border:none;" class="closebtn" >&#8592;</a></span></a>
  <a class="submenuItem" href="impactdesign.html" class="heading3">Our Services</a>
  <a class="submenuItem" href="sendimpactdesign.html" class="heading3">Send a query</a>
  <a class="submenuItem" href="requestimpactdesign.html"class="heading3">Request a Quote</a>
  <a class="submenuItem" href="contact.html" class="heading3">Contact us</a>

</div>
-->
  <!-- navbar-->

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top ">


    <div class="nav-item">
      <h1> <span style="font-size:20px;cursor:pointer" class="menu-icon" onclick="openNav()" id="menuicon">&#9776;</span></h1>
    </div>
    <div class="navbar-brand" style="padding-top:16px;">
      <a href="index.html"><img style="padding-left:3px"style="padding-left:3px" src="./images/logoo.png"></a></br>
      <h5 class="subhead">INCORPORATE +</h5>
    </div>
    <button class="hidden-md-down navbar-toggler navbar-toggler-left" type="button" data-target="main-navbar" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
      <div>
        <ul class="navbar-nav ml-auto" id="menu">
          <li class="nav-item">
            <a class="nav-link" href="incorporate.html">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pricingincorporate.html">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sendincorporate.html">Send a query</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>




        </ul>
      </div>
    </div>
    </div>
  </nav>

  <!-BANNER->

  <header>

    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner header">

        <div class="carousel-item car1 active" style="background-image:url('./images/incorporate.png')">
          <div class="container textblock1">
            <div class="row ">
              <div class="col-lg-8"></div>
              <div class="col-lg-4 dialogue1">
                <form name="sentMessage" id="contactForm" novalidate>
                  <input type="hidden" class="form-control" id="subject" placeholder="Full Name" value="Value Plus/Incorporate+/Let's get started" required data-validation-required-message="Please enter your name.">
                  <input type="hidden" class="form-control" id="product" placeholder="Full Name" value="Incorporate plus" required data-validation-required-message="Please enter your name.">

                  <h5 class="text-center dialoguetext"> Let's get started</h5>

                  <div class="control-group form-group">
                    <div class="controls">

                      <input type="text" class="form-control" id="name" placeholder="Full Name" required data-validation-required-message="Please enter your name.">
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="control-group form-group">
                    <div class="controls">

                      <input type="email" class="form-control" id="email" placeholder=" Email Id" required data-validation-required-message="Please enter your email address.">
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-6" style="width:110px;">
                      <div class="control-group form-group">
                        <div class="controls">

                          <input type="tel" class="form-control" id="phone" placeholder="Contact No" required data-validation-required-message="Please enter your phone number.">
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-6" style=" width:110px;">
                      <div class="control-group form-group">
                        <div class="controls">

                          <input type="text" class="form-control" id="city" placeholder="City Name" required data-validation-required-message="Please enter your city name.">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" control-group form-group">
                    <label for="sel1" class="dialoguetext" style="color:#585858">Type of entity :</label>
                    <select class="form-control" id="typeOfEntity" placeholder="Type of entity">
                                                    <option>Privated Limited Company</option>
                                                    <option>Public limited Company</option>
                                                    <option>One Person Company</option>
                                                    <option>Limited Liability Partnership</option>
                                                    <option>Partnership</option>
                                                    <option>Section 8 company/NGO</option>
                                                    <option>Trust</option>
                                                    <option>Society</option>
                                                    <option>NBFC</option>
                                                  </select>
                  </div>

                  <div class="row">


                    <div class="col-lg-8" style=" width:110px;">
                      <div class=" control-group form-group">
                        <label for="sel1" class="dialoguetext">Product Category :</label>
                        <select class="form-control" id="productCategory">
                          <option>Start Private Limited Company</option>
                          <option>Start Public Limited company</option>
                          <option>Start One Person Company</option>
                          <option>Start Limited Liability Partnership</option>
                          <option>Start Partnership</option>
                          <option>Start Section 8 company/NGO</option>
                          <option>Start Trust</option>
                          <option>Start Trust</option>
                          <option>Start Society</option>
                          <option>Start Nidhi Company</option>
                          <option>Start Producer Company</option>

                                                      </select>
                      </div>
                    </div>
                  </div>

                  <div id="success"></div>
                  <!-- For success/fail messages -->
                  <button type="submit" class="btn btn-primary heading6" id="sendMessageButton" style="width:334px; ">Submit</button>
                </form>
              </div>

            </div>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->
      </div>

  </header>




  <!--offering-->
  <div style="padding:20px 0px;">
    <h2 class="text-center heading">Offerings</h2>
    <div class="row customers2">
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp1 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent">Start</br> Private Limited Company</h5>
                    <!-- Modal -->
             </span></div>
      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp2 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent">Start</br>Public Limited company</h5></span></div>


      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp3 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent">Start</br> One Person Company</h5></span></div>

      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp4 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent">Start</br> Limited Liability Partnership</h5></span></div>

      </div>
    </div>
    <div class="row customers2">
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp1 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start</br> Partnership</h5></span></div>
      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp2 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start Section 8 company/NGO</h5></span></div>


      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp3 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start</br>Trust</h5></span></div>

      </div>

      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp4 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start </br> Society</h5></span></div>

      </div>

    </div>
    <div class="row customers3">
      <div class="col-lg-6 col-sm-4 mb-3 imagecorp imgcorp1 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start Nidhi Company</h5></span></div>
      </div>

      <div class="col-lg-6 col-sm-4 mb-3 imagecorp imgcorp2 text-center">
        <div class="hexagon" data-toggle="modal" data-target="#myModal"><span><h5 class="offercontent1">Start Producer Company</h5></span></div>


      </div>



    </div>
  </div>

  <!--HOW IT WORKS-->
  <div style="background-color:#d4efff;padding:20px 0px;">
    <h2 class="text-center heading">How it works?</h2>
    <div class="row customers">
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp1 text-center">
        <img class="img-fluid  " src="images/details.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">Fill in the details </br>in the form above</p>

      </div>
      <div class="linesend line3send"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp2 text-center">
        <img class="img-fluid " src="images/expert1.png" alt="">
        <p class="text-center" style="padding-top:15px;">Our representative will get </br> in touch for onboarding</p>


      </div>
      <div class="linesend line4send"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp3 text-center">
        <img class="img-fluid" src="images/makepay.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">Make payment</p>

      </div>
      <div class="linesend line5send"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp4 text-center">
        <img class="img-fluid" src="images/happy.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">Relax and enjoy the</br> best in class service</p>

      </div>

    </div>
  </div>

  <div class="row">




    <div class="col-lg-12  link2">

      <a href="pricingincorporate.html">

        <h2 class="heading " style="color:white ; font-size:30px; padding-left:337px;">Pricing</h2> </a>

    </div>

  </div>










  <!-WHY US->
  <!-- Our Customers -->
  <div style="padding:20px 0px;">
    <h2 class="text-center heading">Why choose Us?</h2>
    <div class="row customers">
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp1 text-center">
        <img class="img-fluid  " src="images/qual.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">Quality Service</p>

      </div>
      <div class="line line1"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp2 text-center">
        <img class="img-fluid " src="images/ontime.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">On-Time Delivery</p>


      </div>
      <div class="line line2"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp3 text-center">
        <img class="img-fluid" src="images/moneytrans.png" alt="">
        <p style="padding-top:15px; padding-left:5px;">Transparent Pricing</p>

      </div>
      <div class="line line3"></div>
      <div class="col-lg-3 col-sm-3 mb-3 imagecorp imgcorp4 text-center">
        <img class="img-fluid " src="images/clientconfident.png" alt="">
        <p style="padding-top:15px;">Client Confidentiality</p>

      </div>


    </div>
  </div>
  <!-- /.row -->



  <div class="row ask">
    <div class="container askanexpert">
      <div class="ask1">
        <div class="row" style="padding-left:390px">
          <div class="askbutton">
            <a href="sendincorporate.html"><img  src="./images/phoneicon.png"><h4 class="heading7"></h4></a>
          </div>
        </div>



        <div class="row" style="padding:90px 10px 30px 110px;">
          <div class="col-md-4">
            <img style="padding:0px 0px 23px 80px;;" src="./images/advice.png">
            <h5 class="heading8">Get Professional  Advice</h5>

          </div>

          <div class="col-md-4">
            <img style="padding:0px 0px 30px 80px;;" src="./images/solutions.png">
            <h5 class="heading8">Quick innovative solutions</h5>

          </div>

          <div class="col-md-4">
            <img style="padding:10px 0px 23px 55px;" src="./images/professionals.png">
            <h5 class="heading8">Advice from leading </br class="text-center">professionals</h5>

          </div>

        </div>



      </div>
    </div>
  </div>



  <div class="row contactstrips text-center">

    <a href="contact.html"><h2 style="color:#686666; font-family: 'Lato', sans-serif; font-weight:600;"><img src="./images/phone1.png" >Request a Callback</h2></a>


  </div>







  <!FOOTER->
  <!--footer-->
  <div class="footer" style="background-image: url('./images/footerbag.png'); background-size:cover; height:482px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4 class="title-widget" id="footer-head">Products</h4>
          <ul style="padding-left:2px;">
            <div style="color:white;"><a id="footer-item" href="incorporate.html">Incorporate +</a></div>
            <div style="color:white;"><a id="footer-item" href="comply.html">Comply +</a></div>
            <div style="color:white;"><a id="footer-item" href="tax.html">Tax +</a></div>
            <div style="color:white;"><a id="footer-item" href="protect.html">Protect +</a></div>


          </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="title-widget" id="footer-head">Consulting</h4>
          <ul style="padding-left:5px;">
            <div style="color:white;"><a id="footer-item" href="corporate.html">Corporate</a></div>
            <div style="color:white;"><a id="footer-item" href="startup.html">Startup</a></div>
            <div style="color:white;"><a id="footer-item" href="social.html">Social</a></div>

          </ul>





        </div>

        <div class="col-lg-3">
          <h4 id="footer-head">Find Us</h4>
          <a href="Http:// www.facebook.com/valueplusio" target="_blank" class="fa fa-facebook"></a>
          <a href="Http://Twitter: www.twitter.com/valueplusio" target="_blank" class="fa fa-twitter"></a>
          <a href="Http://www.linkedin.com/in/value-plus-260b86119/" target="_blank" class="fa fa-linkedin"></a> </div>


        <div class="col-lg-3">
          <h4 id="footer-head">Subscribe to our Newsletter</h4>
          <form id="subscribe">

            <div style="color:white; font:Lato,'sans-serif'; font-weight:400;">Your Email</div>
            <input type="email" size="24" style="height:39px; border-radius:5px;" id="subscribeemail" name="email"><br><br>


            <input class="button2" id="subscribeButton" type="submit" value="Subscribe" style="color:rgb(0, 183, 255); background-color:#ffffff; margin-top:-20px;">
            <div id="success1"></div>
          </form>


        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 class="title-widget" id="footer-head">Sister Concern(s)</h4>
          <ul style="padding-left:2px;">
            <div style="color:white;"><a id="footer-item" target="_blank" href="Http://vkgnassociates.com">VKGN & Associates</a></div>
          </ul>
        </div>

        <div class="col-lg-3 ">
          <h4 class="title-widget" id="footer-head">Value Plus Network</h4>
          <ul style="padding-left:5px;">
            <div style="color:white;"><a id="footer-item"  target="_blank" href="Http://impact.valueplus.io">Value Plus Impact</a></div>
            <div style="color:white;"><a id="footer-item" href="#">Value Plus Startup </a></div>
            <div style="color:white;"><a id="footer-item" href="#">Value Plus Corporate</a></div>
            <div style="color:white;"><a id="footer-item" href="#">Value Plus Academy</a></div>
            <div style="color:white;"><a id="footer-item" target="_blank" href="Http://www.opportuneety.com">Opportuneety</a></div>

          </ul>
        </div>
        <div class="col-lg-3">
          <a id="footer-item" href="productmarket.html">
            <h4 class="title-widget" id="footer-head">Training</h4></a>
        </div>
        <div class="col-lg-3">
          <a id="footer-item" href="contact.html">
            <h4 class="title-widget" id="footer-head">Contact Us</h4></a>
        </div>
      </div>

    </div>
  </div>
  </div>
  <footer class="py-5  copyright">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Value Plus 2017</p>
    </div>
    <!-- /.container -->
  </footer>







  <!-- Bootstrap core JavaScript -->

  <!-- Bootstrap core JavaScript 
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>-->

</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.js"></script>
<script src="js/product_contact.js"></script>
<script src="js/subscribe.js"></script>

<!--javascript SIDEBAR-->
<script>
  function openNav(menuID) {
    if (menuID == null) {

      menuID = "mySidenav";
      document.getElementById(menuID).style.width = "280px";
      document.getElementById("incorporatemenu").style.width = "280px";
      document.getElementById("productsMenu").style.width = "280px";
    }
    document.getElementById(menuID).style.width = "280px";

    document.getElementById("menu").style.marginLeft = "200px";
    // document.getElementById("menuicon").style.visibility="hidden";
  }

  function closeNav(menuID) {
    if (menuID == null) {

      menuID = "mySidenav";
      document.getElementById(menuID).style.width = "0";

      document.getElementById("menu").style.marginLeft = "0";
      document.getElementById("menuicon").style.visibility = "initial";
    } else {

      document.getElementById(menuID).style.width = "0";
    }

  }

  function changeSubheading(heading) {

    $('#subheading').text(heading);

  }


  $(".closebtn").click(function() {
    //   alert($(this).attr('value'));
    closeNav($(this).attr('value'));

  });


  $("#product").click(function() {
    //    alert($(this).attr('value'));
    openNav($(this).attr('value'));
    changeSubheading($(this).html());

  });


  $("#consultation").click(function() {
    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#innovation").click(function() {
    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#training").click(function() {
    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#health").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#sanitation").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#incorporate").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#comply").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#pitch").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#platform").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#consulting").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#corporate").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#startup").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#social").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#productmarket").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#businessmodelling").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });
  $("#growth").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#impactdesign").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#tax").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $("#protect").click(function() {

    openNav($(this).attr('value'));
    changeSubheading($(this).html());
  });

  $('.submenuItem').click(function() {

    changeSubheading($(this).html());

  })

  $(".productsmenu").click(function() {
    alert("reached");
    openNav("mySide");
    changeSubheading($(this).html());

  })
</script>


<script>
  $(function() {
    $('.imgcorp2').hover(function() {
      $('.line3send').css('width', '15%');
    }, function() {
      // on mouseout, reset the background colour
      $('.line3send').css('width', '0');
    });
  });

  $(function() {
    $('.imgcorp3').hover(function() {
      $('.line3send').css('width', '15%');
      $('.line4send').css('width', '15%');
    }, function() {
      // on mouseout, reset the background colour
      $('.line3send').css('width', '0');
      $('.line4send').css('width', '0');
    });
  });

  $(function() {
    $('.imgcorp4').hover(function() {
      $('.line3send').css('width', '15%');
      $('.line4send').css('width', '15%');
      $('.line5send').css('width', '15%');
    }, function() {
      // on mouseout, reset the background colour
      $('.line3send').css('width', '0');
      $('.line4send').css('width', '0');
      $('.line5send').css('width', '0');
    });
  });
</script>

</html>